.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Header {
  color: black;
  text-shadow: 1px 1px 5px #fff;
  font-size: 3rem;
}

.dogs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 80%;
}

footer {
  color: white;
  margin-bottom: 2rem;
}

a {
  color: grey;
}