.dog {
    box-shadow: 3px 3px black;
    color: black;
    background-color: aliceblue;
    opacity: 0.9;
    border-radius: 15px;
    padding: 0.5rem;
    margin: 2rem 0 2rem 0;
    width: 20rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 18rem;
    max-height: 18rem;
}